
body{
    background: #F6E8DD !important;
    font-family: 'Oswald', sans-serif !important;
}

.LoadingDiv{
    position: fixed;
    top:0;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F);
    font-family: 'Oswald', sans-serif !important;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px;
}

.LoadingDiv img{
    margin-top: 50%;
    width: 100%;
}

.contenedor{
    height: 100%;
    letter-spacing: 0.5px;
    margin-bottom: 60px;
    
}

.contenedor-nav{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000 !important;
    padding: 0px;
}

.navbar{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px !important;
    text-align: center;
}

.navbar a{
    width: 100%;
    text-align: center;
}

.contenedor img.icon {
    margin-bottom: 12px;
    margin-top: 5px;
    width: 280px;
}

.actions{
    display: none;
}

.contenedor .actions img{
    margin-right: 10px;
    margin-bottom: 1000px;
    margin-left: 10px;
    width: 45px;
}

.imageProfile{
    border: 2px solid #4c5059;
    border-radius: 20px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    background-color: #4c5059;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
}

.search_input{
    text-align: center;
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    width: 100%;
    padding: 0 10px;
}

.searchbar:hover > .search_input{
    text-align: center;
    padding: 0 10px;
    width: 100%;
    caret-color:#FF512F;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: -65px;
    margin-top:25px;
    background-color: #4c5059;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px !important;
}
  
.dropdown-content a:hover { color:#FF512F; text-decoration: none;}

hr{ border-top: 1px solid #fff !important; margin: 0 !important; padding: 0 !important; }

.noMatch{
    padding: 120px;
}

.noMatch p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.profileName{
    color:#FF512F;
    cursor: initial;
}

.logUpDiv, .logInDiv {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border: 0px solid #aaa;
    border-radius: 0px;
    padding: 20px;
}

.logUpDiv input, .logInDiv input{
    width: 100%;
}

.pt-button{
    background: #fef !important;
    font-family: 'Oswald', sans-serif !important; 
    color: black !important;
}

.pt-button:hover{
    background: #FF2F00 !important;
}

.logUpDiv img, .logInDiv img{
    width: 100%;
}

.logUpDiv hr, .logInDiv hr{
    border-top: 1px solid gray !important;
    width: 100%;
}

/*
.profileDiv{
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;

}
*/
.separatorProfileForms{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titleSubConfProfile{
    border-bottom: 1px solid #ccc;
    background: #4c5059;
    padding: 10px;
    padding-top: 17px;
    padding-bottom: 3px;
    cursor: pointer;
    color: #fff;
    font-size: 21px;
}

.formSubConfProfileForms{
    padding: 20px;
}

.changePassword{
    display: none;
}

.registerText{
    text-align: center;
}

.bottomMenu{
    position: fixed;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000 !important;
    width: 100%;
    max-height: 50px;
    bottom: 0;
    cursor: pointer;
}

.bottomMenu img{
    margin-top: 10px;
    max-width: 30px;
}

.buttonBottom{
    width: 25%;
    text-align: center;
    display: inline-block;
}

.headerProfile{
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.profileDesc{
    width: 70%;
    padding: 9px;
    height: 100%;
    display: inline-block;
    margin-left: 0px;
}

.profileDesc p{
    font-size: 20px !important;
    font-weight: medium;
}

.profileImg{
    text-align: center;
    width: 30%;
    display: inline-block;
    float: left;
}

.profileImg img{
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.profileInfoFollow{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

.profileInfoFollow div{
    width: 33%;
    display: inline-block;
    text-align: center;
    color: #888;
}

.big{
    font-weight: bold;
    font-size: 25px;
}

.low{
    font-size: 14px;
}

.configUserBtn{
    width: 74%;
    font-size: 14px !important;
    display: inline-block !important;
    font-weight: bold;
    color: black !important;
}

.closeSessionBtn{
    width: 24%;
    padding: 2px !important;
    font-size: 19px !important;
    margin-left: 2px;
    display: inline-block !important;
}

.closeSessionBtn img{
    width: 25px;
}

.configProfileBody{
    width: 100%;
    padding: 20px;
}

.profileInfoFollow div{ 
    border-right: 1px solid #aaa;     
}

.profileInfoFollow .lastFollowDiv{
    border-right: none;
}

.searchContent > .searchHeader{
    padding: 20px;
}

.searchBody{
    width: 100%;
}

.objectProfileSearch{
    padding: 10px;
    border-top:1px solid #aaa;
    width: 100%;
}

.searchBody hr{
    border-color: #aaa !important;
}

.imageProfileSearch, .imageProfileSearch img{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.describeProfileSearch{
    font-family: 'Oswald', sans-serif;
    width: 30%;
    display: inline-block;
}

.followBtnSearch{
    float: right;
    width: 40%;
    margin-top: 12px;
}

.followSearhBtn{
    width: 100%;
}

.searchBodyNone{
    text-align: center;
}

.uploadImageDiv p{
    text-align: center;
}

.uploadImageDiv p span{
    background: #42af42;
    padding: 5px;
    border-radius: 14px;
    text-align: center;
}

.followSearhBtn{
    color: black !important;
}

.btnFollowSearch{
    width: 100%;
    padding: 7px !important;
    color: black !important;
}

.publicationHeader{
    width: 100%;
    padding: 10px;
    background: #0a0500;
    color: #fff;
    /*background: linear-gradient(to right, #fdc830, #f37335);
    background: linear-gradient(to right, #F09819, #FF512F); 
    background: linear-gradient(to right, #8e2de2, #4a00e0); */
    margin-bottom: -1px;
    text-align: center;
}

.parseRoute{
    width: 30%;
    margin:0 auto;
    display: inline-block;
}

.glyphicon-cog{
    float: left;
}

.glyphicon-fullscreen{
    float: right;
}

.publicationHeader .glyphicon-chevron-right{
    float:right;
    cursor: pointer;
}

.publicationFooter{
    width: 100%;
    padding: 7px;
    background: #0a0500;
    color: #fff;
    /*background: linear-gradient(to right, #fdc830, #f37335);
    background: linear-gradient(to right, #F09819, #FF512F); 
    background: linear-gradient(to right, #8e2de2, #4a00e0); */
    text-align: center;
}

.publicationHeader .glyphicon-chevron-left{
    float: left;
    cursor: pointer;
}

canvas{
    width: 100% !important;
    height: 350px !important;
    position: relative !important;
    border-bottom: 2px solid #000;
}

.mapboxgl-ctrl-bottom-right{
    display: none; 
}

.publication{
    border: 1px solid #0a0500 !important;
    margin-bottom: -10px;
}

.publicationBody{
    padding: 20px;
    background: #fff;
    color: #000;
}

.publicationBody .interactions .glyphicon-play, .publicationBody .interactions .glyphicon-info-sign{
    float: right;
}

.dificult{
    width: 100%;
}

.dificult .dificultDiv .slider{
    cursor: pointer;
    background: linear-gradient(to right, #1e9600, #fff200, #ff0000);
    border-radius: 25px;
    height: 8px;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #000;
    cursor: pointer;
}

.slider::-moz-range-track {
    width: 0;
}

.publicationBody hr{
    border: 1px solid #aaa;
    margin-top: 14px !important;
}

.comments{
    overflow:hidden;
    position: relative;
    height:100px;
}

.showAllComments{
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 2px;
    margin-top: 10px;
    text-align: center;
    clear: both;
}
